<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Pivo Tour Dashboard Test" verbose="1" >
    <parameter name="configfile" value="src/test/resources/config.properties" />
    <test name="pivotourdashboard" >
        <groups>
            <run>
                <include name="abstract" />
                <include name="demo" />
            </run>
        </groups>

        <classes>
            <class name="app.pivotour.dashboard.tests.DashboardLoginTest" />
        </classes>
    </test>

</suite>